.bigBox{
    width: 500px;
    height: 200px;
    background-color: cornflowerblue;
    margin: 20px;
    
}
.middle{
    display: flex;
    flex-direction: row;
}
.persona{
    display: flex;
    height: 100px;
    width: 100px;
    background-size: cover;
    
}
.face{
    max-width:auto;
    max-height: 100% ;
    border-radius: 100%;
    object-fit: contain;
    

}